APP_PORT=3000

DB_HOST=localhost
DB_PORT=5437
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=loan

DEFAULT_IMPORTING_LOAN_AMOUNT=3000
DEFAULT_IMPORTING_LOAN_ISSUE_DATE=2023-01-01T00:00:00.000Z
DEFAULT_IMPORTING_LOAN_TENURE_DAYS=365
DEFAULT_IMPORTING_LOAN_PAYMENT_PERIOD_DAYS=30
DEFAULT_IMPORTING_LOAN_RATE=0.15
